#pic{
    margin-right:20px;
}

.rounded{
    border-radius: 80rem!important;
}

#title{
    font-size:20px; 
}

#artist{
    font-size:16px;
    color: '#586E5F';
}

::ng-deep.mat-list-base .mat-list-item .mat-list-text, .mat-list-base .mat-list-option .mat-list-text{
    display: block!important;
    font-family: Montserrat;
}