label{
    margin-right: 5px;
    margin-bottom: 20px;
}

li{
    list-style:none;
    margin-bottom:20px;
}

#pic{
    margin-right:20px;
}

.rounded{
    border-radius: 80rem!important;
}

#title{
    font-size:20px; 
}

#artist{
    font-size:16px;
    color: '#586E5F';
}