<div class="footer">
  <div class="grid-container p-3">
    <div>
      <img src="../../assets/{{cancion!.file}}" id="photo_album" class="rounded float-left mr-3" alt="photo_album"
           width="40px"
           height="40px" *ngIf="cancion!.file">
      <span id="title" class="footer-title d-block text-truncate mb-0"><strong>{{cancion!.title}}</strong></span>
      <span id="artist"
            class="footer-artist d-block text-muted text-truncate mb-0"><small>{{cancion!.artist}}</small></span>
    </div>
    <div align="center">
      <!--
      <button id="rewind-button"><img src="assets/icons/rewind.ico" class="ico"></button>
      <button id="play-button"><img src="assets/icons/play.ico" class="ico"></button>
      <button id="forward-button"><img src="assets/icons/forward.ico" class="ico"></button>
    -->
      <div class="media-action-bar">
        <button>
          <!-- mat-button [disabled]="isFirstPlaying()" (click)="previous()" -->
          <img src="assets/icons/rewind.ico" class="ico">
        </button>
        <button>
          <!--mat-button (click)="play()" [disabled]="state?.error" *ngIf="!state?.playing" -->
          <img src="assets/icons/play.ico" class="ico">
        </button>
        <button>
          <!-- mat-button (click)="pause()" *ngIf="state?.playing" -->
          <img src="assets/icons/pause.ico" class="ico">
        </button>
        <button>
          <!-- mat-button [disabled]="isLastPlaying()" (click)="next()" -->
          <img src="assets/icons/forward.ico" class="ico">
        </button>
      </div>

      <div class="progress mt-2">
        <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
             aria-valuemax="100">
          {{ state?.readableCurrentTime }}
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <div>00:00</div>
      <div>02:13</div>
    </div>
  </div>
</div>


