.footer {
  background-color: #F2F2F2;
  padding-bottom: 10px;
  border-style: solid;
  border-color: #00F326;
}

.ico {
  width: 20px;
  height: 20px;
}


div#timeline1 {
  width: 100%;
  background: red;
  display: block;
}

div#seekObj1 {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
}

.media-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.time-slider {
  width: 100% !important;
  margin-left: 20px;
  margin-right: 20px;
}

.media-action-bar {
  padding-left: 2.5rem;
  justify-content: right;
  width:50%;
}

.bg-info{
  background-color:#00F326!important;
}

.mat-icon {
  height: 48px !important;
  width: 48px !important;
  font-size: 48px !important;
}

#photo-album{
  border-radius: 80rem!important;
  padding-top: 5px;
}

.rounded{
  border-radius: .30rem!important;
}


/*  */
.reproducer__track{
      display: flex;
      font-size: 16px;
      width: 80%;
      justify-content: center;
      align-items: center;
  }

      .reproducer__track__timePlayed,
      .reproducer__track__timeDuration{
          max-width: 55px;
          display: flex;
          justify-content: center;
      }

      .reproducer__track__bar{
          width: calc( 100% - 120px);
          height: 6px;
          position: relative;
          margin: 0 20px;
      }

      .reproducer__track__bar:before{
          content:"";
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: black;
          left: 0;
          top: 0;
          opacity: 0.44;
      }

      .reproducer__track{
          display: flex;
          font-size: 16px;
          width: 80%;
          justify-content: center;
          align-items: center;
      }

          .reproducer__track__timePlayed,
          .reproducer__track__timeDuration{
              max-width: 55px;
              display: flex;
              justify-content: center;
              align-self: center;
          }

          .reproducer__track__timePlayed input{
              width: 100%;
              background-color: transparent;
              border: 0;
              color: black;
              margin: 0;
              padding: 0;
              box-sizing: border-box;
              position: relative;
              top: -1px;
          }

          app-track-song{
              width: 80%;
          }

  .reproducer__actions{
      display: flex;
      justify-content: center;
      margin-bottom: 6px;
  }

      .reproducer__actions button{
          font-size: 35px;
          margin: 0 10px 10px;
          border-radius: 5px;
          color: black;
          background-color: transparent;
          border: 0;
          padding: 0
      }

.trackLenght
{
  width: 50%;
}
