
h3{
    font-size:24px;
}

head, body{
    font-family: 'Montserrat', sans-serif;
}
  
.text-white{
    font-size: x-large;
    color: #39ff14!important;
}

.bg-info{
    margin-bottom: 25px ; 
    background-color: black!important;
    padding-bottom: 25px; 
    padding-top: 25px;
}

.col{
    margin-left: 10px;
}

.h3, h3{
    margin-bottom: 25px;
}

input{
    background-color: white;
    border-radius: 30px;
    border-width: 1px;
    line-height:1.5;
    font-size:20px; 
    padding-left:40px;
    background-image:url(../assets/icons/lupa.png);
    background-size:18px;
    background-repeat: no-repeat; 
    background-position-x: 5%;
    background-position-y: 4.5px;
}

.text-right{
    margin-right: 50pxd; 
}


::ng-deep .ng-tns-c59-0.ng-star-inserted{
    font-family: Montserrat;
    color: #39ff14!important;
}

::ng-deep .mat-input-element.mat-form-field-autofill-control.ng-tns-c59-0.ng-pristine.ng-valid.cdk-text-field-autofill-monitored.ng-touched{
    font-family: Montserrat;
    caret-color:white!important;
}

::ng-deep .mat-form-field{
    font-family: Montserrat!important;
}
::ng-deep .ng-tns-c59-0.ng-star-inserted{
    background-color: transparent;
    border: none;
}

::ng-deep .mat-icon.notranslate.material-icons.mat-icon-no-color{
    font-size:15px!important;
    font-weight: bolder;
    vertical-align: top;
}

::ng-deep .mat-form-field-underline.ng-tns-c59-0.ng-star-inserted{
    visibility: hidden;
}

::ng-deep .mat-form-field-ripple.ng-tns-c59-0{
    visibility: hidden;
}

::ng-deep .mat-input-element{
    caret-color: black!important;
}

::ng-deep .mat-form-field{
    color: black!important;
}

nav{
    height:15%;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix{
    color:black;
}

::ng-deep #mat-form-field-label-1{
    font-size:15px;
    padding-left:40px;
    padding-top:15px;
}