
h3{
    font-size:24px;
}

head, body{
    font-family: 'Montserrat', sans-serif;
}
  
.text-white{
    font-size: x-large;
    color: #39ff14!important;
}

.bg-info{
    margin-bottom: 25px ; 
    background-color: black!important;
    padding-bottom: 25px; 
    padding-top: 25px;
}

.col{
    margin-left: 10px;
}

.h3, h3{
    margin-bottom: 25px;
}

button, input{
    border-radius: 30px;
    border-width: 1px;
    line-height:0.5;
    font-size:20px; 
    padding-left:40px;
    background-image:url(../assets/icons/lupa.png);
    background-size:18px;
    background-repeat: no-repeat; 
    background-position-x: 5%;
    background-position-y: 4.5px;
}

button, ::placeholder{
    font-size:20px;
}

.text-right{
    margin-right: 50pxd; 
}
  