
<body>
  <nav class="row navbar navbar-expand-lg text-white bg-info">
    <div class="col-md-3">
      <img class="logo" src="assets/icons/musicweb.jpeg" width="40" height="40" class="d-inline-block align-top" alt="">
      <a class="nabvar-brand text-white ml-1" href="#">MusicWeb</a>
    </div>
    <div class="col-md">
      <mat-form-field>
        <input class="matform" matInput type="text" name="filtrado" placeholder="Search song title..." value=""  [(ngModel)]="textoFiltrado" >
        <button mat-button *ngIf="textoFiltrado" matSuffix mat-icon-button aria-label="Clear" (click)="textoFiltrado=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div class="col-md-1 text-right">
      <img class="account_icon" src="assets/icons/account.png" width="25" height="30" alt="account">
    </div>
  </nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
      <h3 class="text-left" style="margin-left:40px">FILTERS</h3>
      <app-filtros (filtroSeleccionado)="seleccionFiltro($event)"></app-filtros>
   </div>
    <div class="col-md-2">
      <app-detalle-filtro *ngIf="filtroSelecc" [filtro]="filtroSelecc" (artistSeleccionado)="seleccionArtist($event)" (genreSeleccionado)="seleccionGenre($event)"></app-detalle-filtro>
    </div>
    <div class="col-md-4">
      <h3 class="text-left" style="margin-left:20px; margin-bottom:25px; "><mat-icon id="allSongs" style="margin-right:30px; margin-bottom:7px;">queue_music</mat-icon>Tracks

      </h3>
      <app-lista-canciones (cancionSeleccionada)="selecc($event)" [textoBusqueda]="textoFiltrado" [filtroArtista]="artistSelecc" [filtroGenre]="genreSelecc" [filtroNo]="filtroSelecc"></app-lista-canciones>
    </div>
    <div class="col-md-5">
      <div><h3><mat-icon role="button" id="addSong" style="float: left; margin-right:30px;" *ngIf="!cancionNueva" (click)="addSong()">add_circle_outline</mat-icon>
        <mat-icon role="button" id="noNewSongs" style="float: letf; margin-right:30px;" *ngIf="cancionNueva" (click)="addSong()">remove_circle_outline</mat-icon>Add new song</h3></div>
      <div *ngIf="cancionNueva" class="container-fluid">
        <form [formGroup]="this.form" (ngSubmit)="saveData()" novalidate>
          <div>
          <label>Title*:</label>
          <input
            placeholder="Title"
            formControlName="newTitle" required
            type="text"
            class="input-field"/>
          </div>
          <div *ngIf= "this.form.controls['newTitle'].errors?.required"><strong>*This field is required</strong></div>
         <label>Artist: </label>
          <input
            placeholder="Artist"
            formControlName="newArtist"
            type="text"
            class="input-field"/>
          <br>
         <label>Genre: </label>
          <input
            placeholder="Genre"
            formControlName="newGenre"
            type="text"
            class="input-field"/>
            <br>
          <label>Record Company: </label>
           <input
            placeholder="recordCompany"
            formControlName="newRecordCompany"
            type="text"
            class="input-field"/>
            <br>
          <label>Description: </label>
           <input
            placeholder="description"
            formControlName="newDescription"
            type="text"
            class="input-field"
            />
            <br>
         <label>Duration: </label>
          <input
            placeholder="Duration"
            formControlName="newDuration"
            type="text"
            class="input-field"
            />
            <br>
         <label>Year: </label>
          <input
            placeholder="Year"
            formControlName="newYear"
            type="text"
            class="input-field"
            />
            <br>
         <label>Album: </label>
          <input
            placeholder="Album"
            formControlName="newAlbum"
            type="text"
            class="input-field"
            />
            <br>
            <div class="contenedor">
              <div class="contenedor_formulario">
                <h1 class="is-size-1">Subir canción y carátula de la canción (jpg, png, mp3)</h1>
                <p class="download" *ngIf="finalizado">URL de descarga: <a href="{{ URLPublica }}" target="_blank">Descargar</a></p>
                <form [formGroup]="archivoForm" (ngSubmit)="subirArchivo()">
                  <div class="file has-name is-boxed">
                    <label class="file-label">
                      <input class="file-input" type="file" formControlName="archivo" (change)="cambioArchivo($event)">
                      <!--<span class="file-name">
                        {{ mensajeArchivo }}
                      </span>!-->
                    </label>
                  </div>
                  <progress *ngIf="porcentaje > 0 && porcentaje < 100" class="progress is-large is-success" value="{{porcentaje}}" max="100">{{porcentaje}}%</progress>
                  <button [ngClass]="{'button': true, 'is-success': true, 'is-large': true, 'is-loading': porcentaje > 0 && porcentaje < 100}" [disabled]="!archivoForm.valid && (porcentaje > 0 && porcentaje < 100)" class="green-button" >Subir archivo</button>
                </form>
              </div>
            </div>
            <hr>
            <h1 class="is-size-1">Una vez se han subido la canción y su carátula, indicar las URL de descarga:</h1>
            <br>
         <label>URL de la imagen: </label>

          <input
            placeholder="File"
            formControlName="newFile"
            type="text"
            class="input-field"
            />
            <br>
          <label>URL del mp3: </label>
           <input
            placeholder="mp3"
            formControlName="newMp3"
            type="text"
            class="input-field"
            />
            <br>
          <button _ngcontent-bvo-c125 (click)= "onSubmit()" [disabled]= "form.invalid" class="green-button">
            Add
          </button>
        </form>
      </div>
      <br>
            <app-canciones *ngIf="cancionSelecc" [cancion]="cancionSelecc">
      </app-canciones>
    </div>
  </div>
<footer class="footer fixed-bottom">
  <app-reproductor *ngIf="cancionSelecc" [cancion]="cancionSelecc"></app-reproductor>
</footer>
