body{
    font-family: 'Montserrat', sans-serif;
}

#album{
    margin-top: 20px;
}

#artist,#album,#record-company,#year,#genre{
    font-size: 12px;
}

table {
  font-family: Montserrat;
  position:relative;
  margin:0 auto;
  width:100%;
  font-size: 10rem;
}

.box img{
  width: 100%;
  height: auto;
}
@supports(object-fit: cover){
    .box img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}
*[role=columnheader] {
  font-size: 20px;
  }
  *[role=gridcell] {
    font-size: 20px;
    }

