<body>
 <div class="container-fluid" style="margin-bottom:150px">
  <h1 class="text-center">{{cancion!.title}}</h1>
  <h3 class="text-center">{{cancion!.artist}}</h3>
    <div class="text-center"><img id="photo-album" src="assets/cancion/{{cancion!.file}}" alt="photo_album" height="400px" width="400px" alt="" *ngIf="cancion!.file.length"></div>

<table mat-table [dataSource]="[cancion]" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Album -->
  <ng-container matColumnDef="album">
    <th mat-header-cell *matHeaderCellDef> Album </th>
    <td mat-cell *matCellDef="let cancion"> {{cancion!.album}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let cancion"> {{cancion!.year}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="genre">
    <th mat-header-cell *matHeaderCellDef> Genre </th>
    <td mat-cell *matCellDef="let cancion"> {{cancion!.genre}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="record">
    <th mat-header-cell *matHeaderCellDef> Record Comapany </th>
    <td mat-cell *matCellDef="let cancion"> {{cancion!.recordCompany}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
</body>
