body{
    font-family: 'Montserrat', sans-serif;
}

#album{
    margin-top: 20px;
}

#artist,#album,#record-company,#year,#genre{
    font-size: 12px;
}

table {
  font-family: Montserrat;
  position:relative;
  margin:0 auto;
  width:70%;
}





